In [1]:
#Import dependencies
import csv
import os
import os, fnmatch
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import date

In [2]:
for root, dirs, files in os.walk("resources", topdown=False):
    total_hab_files = []
    volume_projection_files = []
    for name in files:
        if os.path.join(name).startswith("Volume"):
            volume_projection_files.append(os.path.join(root, name))
        elif os.path.join(name).rfind("total"):
            total_hab_files.append(os.path.join(root, name))

In [3]:
number_of_files = len(total_hab_files)
number_of_files

4

In [4]:
for i in range(number_of_files):
    file = total_hab_files[i]
    i = i + 1
    variable_name = f"total_{i}"
#     print(variable_name)
    globals()[variable_name] =  pd.read_csv(file)

NameError: name 'numfile' is not defined

In [ ]:
total

In [6]:
#Read in file
# file_df = pd.read_csv("resources/2020-plu-total-hab-data.csv", encoding = "UTF-8")

# file_df.head()

In [7]:
total.columns.tolist()

NameError: name 'total' is not defined

In [8]:
dropna_df = total.dropna(subset=['Geography',
 'Timeframe',
 'Current Year Week Ending',
 'Type',
 'ASP Current Year',
 'Total Bulk and Bags Units',
 '4046 Units',
 '4225 Units',
 '4770 Units',
 'TotalBagged Units',
 'SmlBagged Units',
 'LrgBagged Units',
 'X-LrgBagged Units',
 'Bulk GTIN'])
dropna_df.head()

NameError: name 'total' is not defined

In [9]:
dropna_df.count()

NameError: name 'dropna_df' is not defined

In [10]:
dropcols_df = dropna_df.drop(columns = ['SmlBagged Units',
 'LrgBagged Units',
 'X-LrgBagged Units'])

dropcols_df.head()

NameError: name 'dropna_df' is not defined

In [11]:
rearrange_cols_df = dropcols_df[['Geography',
 'Timeframe',
 'Current Year Week Ending',
 'Type',
 'ASP Current Year',
 '4046 Units',
 '4225 Units',
 '4770 Units',
 'Bulk GTIN',
 'TotalBagged Units',
 'Total Bulk and Bags Units']]

rearrange_cols_df.head()

NameError: name 'dropcols_df' is not defined

In [14]:
rearrange_cols_df.dtypes

Geography                     object
Timeframe                     object
Current Year Week Ending      object
Type                          object
ASP Current Year             float64
4046 Units                   float64
4225 Units                   float64
4770 Units                   float64
Bulk GTIN                    float64
TotalBagged Units            float64
Total Bulk and Bags Units    float64
dtype: object

In [15]:
rearrange_cols_df['Current Year Week Ending'] = pd.to_datetime(rearrange_cols_df['Current Year Week Ending'])

rearrange_cols_df.dtypes

Geography                            object
Timeframe                            object
Current Year Week Ending     datetime64[ns]
Type                                 object
ASP Current Year                    float64
4046 Units                          float64
4225 Units                          float64
4770 Units                          float64
Bulk GTIN                           float64
TotalBagged Units                   float64
Total Bulk and Bags Units           float64
dtype: object

# rearrange_cols_df.astype({'Current Year Week Ending' : datetime})

In [19]:
rearrange_cols_df['Current Year Week Ending'] = rearrange_cols_df['Current Year Week Ending'].dt.strftime("%Y-%m-%d")

rearrange_cols_df.head()

AttributeError: Can only use .dt accessor with datetimelike values

In [21]:
rearrange_cols_df.columns = ['City', 'Timeframe', 'Weekly Reporting Date', 'Produce Type', 'Average Avocado Price Year', 'Small/Medium (4046) Units', 'Large (4225) Units', 'Extra Large (4770) Units', 'Bulk GTIN', 'Bagged Units', 'Total Units'] 

rearrange_cols_df.head()

,City,Timeframe,Weekly Reporting Date,Produce Type,Average Avocado Price Year,Small/Medium (4046) Units,Large (4225) Units,Extra Large (4770) Units,Bulk GTIN,Bagged Units,Total Units
0,Albany,Weekly,2020-01-06,Conventional,1.155100,3737.00,140642.19,184.16,6166.13,10996.65,161726.12
1,Albany,Weekly,2020-01-12,Conventional,1.227609,3649.24,90717.11,203.78,5808.29,16359.88,116738.30
2,Albany,Weekly,2020-01-19,Conventional,1.088107,5057.86,108635.20,306.59,8284.13,15879.12,138162.91
3,Albany,Weekly,2020-01-26,Conventional,1.160866,4124.56,72571.73,270.72,7961.90,21273.86,106202.76
4,Albany,Weekly,2020-02-02,Conventional,1.251057,4933.07,156256.79,215.29,7492.04,17313.74,186210.93

In [ ]:
# rearrange_cols_df.sort_values(by="Weekly Reporting Date")

# rearrange_cols_df.head()

In [7]:
# Import Dependencies
import pandas as pd
import os, fnmatch
# from splinter import Browser
# from bs4 import BeautifulSoup as bs
import datetime as dt
# from webdriver_manager.chrome import ChromeDriverManager

def file_search():
    # Searching for csv filenames

    for root, dirs, files in os.walk("resources", topdown=False):
        resourcesVFiles = []
        resourcesRFiles = []
        resourcesTotFiles = []
        for name in files:
            if os.path.join(name).startswith("Volume"):
                resourcesVFiles.append(os.path.join(root, name))
            elif os.path.join(name).rfind("total"):
                resourcesTotFiles.append(os.path.join(root, name))
            else:
                resourcesRFiles.append(os.path.join(root, name))
    
    # Load all relevant filenames and path to a dictionary
    resourcesFile = {
        "volume_data": resourcesVFiles,
        "region_data": resourcesRFiles,
        "sales_tot_data": resourcesTotFiles
    }
    return  resourcesFile


def volume_file():

    resourcesVFiles = file_search()['volume_data']

    # List to store df names
    volumedf_list = []

    # Load Volume into dfs
    for i in range(len(resourcesVFiles)):
        file = resourcesVFiles[i]
        i = i + 1
        variable_name = f"vol_{i}"
        globals()[variable_name] =  pd.read_csv(file)
        volumedf_list.append(variable_name)

    # Union Join dfs
    volumedf_list = [vol_1, vol_2, vol_3]
    volume = pd.concat(volumedf_list, axis=0, ignore_index=True)

    # Replace N/A with zeros
    volume.fillna(0)

    for col in volume.columns:
        if not (col == 'Week' or col == 'Status' or col == 'Year'):
            try:
                volume[col] = volume[col].str.replace(",", "").astype(float)
            except AttributeError:
                print(f'skipped {col}')

    volume_transformed = volume.fillna(0)

    volume_transformed['WEDate'] = pd.to_datetime(volume_transformed.Week)

    actual_vol_temp = volume_transformed.loc[(volume_transformed["Status"] == "Actual"), :]
    actual_vol = actual_vol_temp.to_dict("records")
 
    # actual_vol

    return actual_vol

def total_file():

    # Extract filenames and Path or csv files relating to volume unit

    resourcesTotFiles = file_search()['sales_tot_data']

    # numfile = len(resourcesTotFiles)
    totaldf_list = []
    
    # Load Volume into dfs
    for i in range(len(resourcesTotFiles)):
        file = resourcesTotFiles[i]
        i = i + 1
        variable_name = f"tot_{i}"
        globals()[variable_name] =  pd.read_csv(file)
        totaldf_list.append(variable_name)

    # Union Join dfs
    totaldf_list = [tot_1, tot_2, tot_3]
    total_temp = pd.concat(totaldf_list, axis=0, ignore_index=True)

    # Replace N/A with zeros
    total_temp.fillna(0)
    
    rearrange_cols_df = total_temp[['Geography',
        'Timeframe',
        'Current Year Week Ending',
        'Type',
        'ASP Current Year',
        '4046 Units',
        '4225 Units',
        '4770 Units',
        'Bulk GTIN',
        'TotalBagged Units',
        'Total Bulk and Bags Units']]

    # Change dates columns to date 
    rearrange_cols_df['Current Year Week Ending'] = pd.to_datetime(rearrange_cols_df['Current Year Week Ending'])
    rearrange_cols_df['Year']=rearrange_cols_df['Current Year Week Ending'].dt.year
    
    # Rename columns
    rearrange_cols_df.columns = ['City', 'Timeframe', 'Weekly Reporting Date', 'Produce Type', 'Average Avocado Price Year', 'Small/Medium (4046) Units', 'Large (4225) Units', 'Extra Large (4770) Units', 'Bulk GTIN', 'Bagged Units', 'Total Units', 'Year'] 

    rearrange_cols_df[['s_city', 's_city_2']] = rearrange_cols_df.City.str.split(pat=chr(47), expand=True)

    # Adding 'State' & 'Region' to data
    hassboard_state = pd.read_csv("resources/hassboard_state.csv")
    new_df = rearrange_cols_df.merge(hassboard_state, left_on="City", right_on="h_city", how="left").drop(['s_city_2', 'h_city'], axis=1)

    # Adding Longitude & Latitude info

    cities_coord = pd.read_csv("resources/US_cities_coord.csv")
    data_complete_df = new_df.merge(cities_coord, left_on=["s_city", "h_state"], right_on=["City", "State"], how="left")
    # data_complete_df.drop(['s_city','h_state', 'City_y'], axis=1).rename(columns={'City_x': 'City'})

    total_sold = data_complete_df.to_dict('records')

In [10]:
total_file.data_complete_df

AttributeError: 'function' object has no attribute 'data_complete_df'