In [1]:
#Import dependencies
import csv
import os
import os, fnmatch
from matplotlib import pyplot as plt
from scipy import stats
import numpy as np
import pandas as pd
from datetime import datetime
from datetime import date

In [3]:
for root, dirs, files in os.walk("resources", topdown=False):
    total_hab_files = []
    volume_projection_files = []
    for name in files:
        if os.path.join(name).startswith("Volume"):
            volume_projection_files.append(os.path.join(root, name))
        elif os.path.join(name).rfind("total"):
            total_hab_files.append(os.path.join(root, name))

In [4]:
number_of_files = len(total_hab_files)
number_of_files

3

In [5]:
for i in range(number_of_files):
    file = total_hab_files[i]
    i = i + 1
    variable_name = f"total_{i}"
#     print(variable_name)
    globals()[variable_name] =  pd.read_csv(file)

In [6]:
if number_of_files == 3:
    total_temp = pd.concat([total_1, total_2])
    total = pd.concat([total_temp, total_3])
elif numfile == 2: 
    total = pd.concat([total_1, total_2])
else:
    total == total_1

In [7]:
total

,Geography,Timeframe,Current Year Week Ending,Type,ASP Current Year,Total Bulk and Bags Units,4046 Units,4225 Units,4770 Units,TotalBagged Units,SmlBagged Units,LrgBagged Units,X-LrgBagged Units,Bulk GTIN
0,Albany,Weekly,2020-01-06 00:00:00,Conventional,1.155100,161726.12,3737.00,140642.19,184.16,10996.65,0.0,0.0,0.0,6166.13
1,Albany,Weekly,2020-01-12 00:00:00,Conventional,1.227609,116738.30,3649.24,90717.11,203.78,16359.88,0.0,0.0,0.0,5808.29
2,Albany,Weekly,2020-01-19 00:00:00,Conventional,1.088107,138162.91,5057.86,108635.20,306.59,15879.12,0.0,0.0,0.0,8284.13
3,Albany,Weekly,2020-01-26 00:00:00,Conventional,1.160866,106202.76,4124.56,72571.73,270.72,21273.86,0.0,0.0,0.0,7961.90
4,Albany,Weekly,2020-02-02 00:00:00,Conventional,1.251057,186210.93,4933.07,156256.79,215.29,17313.74,0.0,0.0,0.0,7492.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1883,West,Weekly,2022-03-27 00:00:00,Organic,2.132444,279969.07,16833.47,19138.13,0.00,89663.57,NaN,NaN,NaN,154333.89
1884,Total U.S.,Weekly,2022-04-17 00:00:00,Organic,1.774314,2073388.73,98894.63,93306.07,412.89,1366905.16,NaN,NaN,NaN,513869.98
1885,Total U.S.,Weekly,2022-04-10 00:00:00,Organic,1.734692,2135495.11,84439.07,107442.51,315.94,1417980.89,NaN,NaN,NaN,525316.71
1886,Total U.S.,Weekly,2022-04-03 00:00:00,Organic,1.701004,2180929.28,73724.50,107346.93,306.77,1495281.89,NaN,NaN,NaN,504269.19
1887,Total U.S.,Weekly,2022-03-27 00:00:00,Organic,1.712727,2062180.86,73187.08,90293.07,308.58,1410866.15,NaN,NaN,NaN,487525.98

In [8]:
#Read in file
# file_df = pd.read_csv("resources/2020-plu-total-hab-data.csv", encoding = "UTF-8")

# file_df.head()

In [9]:
total.columns.tolist()

['Geography',
 'Timeframe',
 'Current Year Week Ending',
 'Type',
 'ASP Current Year',
 'Total Bulk and Bags Units',
 '4046 Units',
 '4225 Units',
 '4770 Units',
 'TotalBagged Units',
 'SmlBagged Units',
 'LrgBagged Units',
 'X-LrgBagged Units',
 'Bulk GTIN']

In [10]:
dropna_df = total.dropna(subset=['Geography',
 'Timeframe',
 'Current Year Week Ending',
 'Type',
 'ASP Current Year',
 'Total Bulk and Bags Units',
 '4046 Units',
 '4225 Units',
 '4770 Units',
 'TotalBagged Units',
 'SmlBagged Units',
 'LrgBagged Units',
 'X-LrgBagged Units',
 'Bulk GTIN'])
dropna_df.head()

,Geography,Timeframe,Current Year Week Ending,Type,ASP Current Year,Total Bulk and Bags Units,4046 Units,4225 Units,4770 Units,TotalBagged Units,SmlBagged Units,LrgBagged Units,X-LrgBagged Units,Bulk GTIN
0,Albany,Weekly,2020-01-06 00:00:00,Conventional,1.155100,161726.12,3737.00,140642.19,184.16,10996.65,0.0,0.0,0.0,6166.13
1,Albany,Weekly,2020-01-12 00:00:00,Conventional,1.227609,116738.30,3649.24,90717.11,203.78,16359.88,0.0,0.0,0.0,5808.29
2,Albany,Weekly,2020-01-19 00:00:00,Conventional,1.088107,138162.91,5057.86,108635.20,306.59,15879.12,0.0,0.0,0.0,8284.13
3,Albany,Weekly,2020-01-26 00:00:00,Conventional,1.160866,106202.76,4124.56,72571.73,270.72,21273.86,0.0,0.0,0.0,7961.90
4,Albany,Weekly,2020-02-02 00:00:00,Conventional,1.251057,186210.93,4933.07,156256.79,215.29,17313.74,0.0,0.0,0.0,7492.04

In [11]:
dropna_df.count()

Geography                    11800
Timeframe                    11800
Current Year Week Ending     11800
Type                         11800
ASP Current Year             11800
Total Bulk and Bags Units    11800
4046 Units                   11800
4225 Units                   11800
4770 Units                   11800
TotalBagged Units            11800
SmlBagged Units              11800
LrgBagged Units              11800
X-LrgBagged Units            11800
Bulk GTIN                    11800
dtype: int64

In [12]:
dropcols_df = dropna_df.drop(columns = ['SmlBagged Units',
 'LrgBagged Units',
 'X-LrgBagged Units'])

dropcols_df.head()

,Geography,Timeframe,Current Year Week Ending,Type,ASP Current Year,Total Bulk and Bags Units,4046 Units,4225 Units,4770 Units,TotalBagged Units,Bulk GTIN
0,Albany,Weekly,2020-01-06 00:00:00,Conventional,1.155100,161726.12,3737.00,140642.19,184.16,10996.65,6166.13
1,Albany,Weekly,2020-01-12 00:00:00,Conventional,1.227609,116738.30,3649.24,90717.11,203.78,16359.88,5808.29
2,Albany,Weekly,2020-01-19 00:00:00,Conventional,1.088107,138162.91,5057.86,108635.20,306.59,15879.12,8284.13
3,Albany,Weekly,2020-01-26 00:00:00,Conventional,1.160866,106202.76,4124.56,72571.73,270.72,21273.86,7961.90
4,Albany,Weekly,2020-02-02 00:00:00,Conventional,1.251057,186210.93,4933.07,156256.79,215.29,17313.74,7492.04

In [13]:
rearrange_cols_df = dropcols_df[['Geography',
 'Timeframe',
 'Current Year Week Ending',
 'Type',
 'ASP Current Year',
 '4046 Units',
 '4225 Units',
 '4770 Units',
 'Bulk GTIN',
 'TotalBagged Units',
 'Total Bulk and Bags Units']]

rearrange_cols_df.head()

,Geography,Timeframe,Current Year Week Ending,Type,ASP Current Year,4046 Units,4225 Units,4770 Units,Bulk GTIN,TotalBagged Units,Total Bulk and Bags Units
0,Albany,Weekly,2020-01-06 00:00:00,Conventional,1.155100,3737.00,140642.19,184.16,6166.13,10996.65,161726.12
1,Albany,Weekly,2020-01-12 00:00:00,Conventional,1.227609,3649.24,90717.11,203.78,5808.29,16359.88,116738.30
2,Albany,Weekly,2020-01-19 00:00:00,Conventional,1.088107,5057.86,108635.20,306.59,8284.13,15879.12,138162.91
3,Albany,Weekly,2020-01-26 00:00:00,Conventional,1.160866,4124.56,72571.73,270.72,7961.90,21273.86,106202.76
4,Albany,Weekly,2020-02-02 00:00:00,Conventional,1.251057,4933.07,156256.79,215.29,7492.04,17313.74,186210.93

In [14]:
rearrange_cols_df.dtypes

Geography                     object
Timeframe                     object
Current Year Week Ending      object
Type                          object
ASP Current Year             float64
4046 Units                   float64
4225 Units                   float64
4770 Units                   float64
Bulk GTIN                    float64
TotalBagged Units            float64
Total Bulk and Bags Units    float64
dtype: object

In [15]:
rearrange_cols_df['Current Year Week Ending'] = pd.to_datetime(rearrange_cols_df['Current Year Week Ending'])

rearrange_cols_df.dtypes

Geography                            object
Timeframe                            object
Current Year Week Ending     datetime64[ns]
Type                                 object
ASP Current Year                    float64
4046 Units                          float64
4225 Units                          float64
4770 Units                          float64
Bulk GTIN                           float64
TotalBagged Units                   float64
Total Bulk and Bags Units           float64
dtype: object

# rearrange_cols_df.astype({'Current Year Week Ending' : datetime})

In [19]:
rearrange_cols_df['Current Year Week Ending'] = rearrange_cols_df['Current Year Week Ending'].dt.strftime("%Y-%m-%d")

rearrange_cols_df.head()

AttributeError: Can only use .dt accessor with datetimelike values

In [21]:
rearrange_cols_df.columns = ['City', 'Timeframe', 'Weekly Reporting Date', 'Produce Type', 'Average Avocado Price Year', 'Small/Medium (4046) Units', 'Large (4225) Units', 'Extra Large (4770) Units', 'Bulk GTIN', 'Bagged Units', 'Total Units'] 

rearrange_cols_df.head()

,City,Timeframe,Weekly Reporting Date,Produce Type,Average Avocado Price Year,Small/Medium (4046) Units,Large (4225) Units,Extra Large (4770) Units,Bulk GTIN,Bagged Units,Total Units
0,Albany,Weekly,2020-01-06,Conventional,1.155100,3737.00,140642.19,184.16,6166.13,10996.65,161726.12
1,Albany,Weekly,2020-01-12,Conventional,1.227609,3649.24,90717.11,203.78,5808.29,16359.88,116738.30
2,Albany,Weekly,2020-01-19,Conventional,1.088107,5057.86,108635.20,306.59,8284.13,15879.12,138162.91
3,Albany,Weekly,2020-01-26,Conventional,1.160866,4124.56,72571.73,270.72,7961.90,21273.86,106202.76
4,Albany,Weekly,2020-02-02,Conventional,1.251057,4933.07,156256.79,215.29,7492.04,17313.74,186210.93

In [ ]:
# rearrange_cols_df.sort_values(by="Weekly Reporting Date")

# rearrange_cols_df.head()

In [ ]:
# rearrange_cols_df.sort_values(by=['Weekly Reporting Date', 'City'], inplace=True)

# rearrange_cols_df